body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    width: 800px;
    margin: auto;
}

h1 {
    font-size: 24pt;
    text-align: center;
}

a {
    color: blue;
    text-decoration: underline;
}

#top-controls {
    margin-top: 20px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

#top-controls div {
    margin-top: 15px;
}

#top-controls div:first-child {
    margin-top: 0;
}

#top-controls div span {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

#top-controls div input[type="text"] {
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 650px;
    margin: 0;
}

#top-controls div input[type="range"] {
    display: inline-block;
    width: 600px;
    margin: 0;
}

#top-controls div output {
    display: inline-block;
    width: 50px;
    text-align: center;
}

#qr-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-controls {
    text-align: center;
}

#info-controls {
    margin-top: 20px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

#info-controls h2 {
    margin: 5px;
    margin-top: 20px;
    font-size: 24pt;
}

#info-controls a {
    color: #444;
}

#info-controls a:hover {
    color: #777;
}

#info-controls h2:first-child {
    margin-top: 5px;
}

#patterns-controls {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

#patterns-controls div {
    width: 200px;
}

#info-controls label {
    user-select: none;
    cursor: pointer;
}

#info-controls h2:first-child {
    display: inline-block;
}

#patterns-buttons {
    display: inline-block;
    margin-left: 10px;
}

#patterns-buttons a {
    display: inline-block;
    margin-right: 10px;
}
